@tailwind base;
@tailwind components;
@tailwind utilities;


.spacer {
  aspect-ratio: 960/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.waves1 {
  background-image: url('../public/waves1.svg');
}

.waves2 {
  background-image: url('../public/waves2.svg');
}